html {
    font-size: 16px;
}

body,
html {
    width: 960px;
    margin: 1rem auto;
    font-family: serif;
}

.task_value {
    height: 1.5rem;
}

.task_submit {
    height: 2rem;
}

#table {
    background-color: papayawhip;
    color: black;
    width: 50%;
    height: 400px;
    border-radius: 1rem;
    margin-top: 2rem;
}

h2 {
    font-size: 1.2rem;
    color: black;
    padding: 1rem;
}

li {
    margin: 2rem 2rem 2rem 0;
    display: flex;
    justify-content: space-between;
    color: black;
}

.container {
    padding: 10px;
}

input[type=date] {
    font-size: 18px;
}